body{
  margin:0;
  background:black;
  color:white;
  font-family:Arial, sans-serif;
}

.navbar{
    background:black;
    padding:20px 50px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.search-bar{
    width:250px;
    padding:12px;
    border:none;
    border-radius:5px;
    font-size:16px;
}





.logo{
  color:red;
  font-size:40px;
  font-weight:bold;
}

.banner{
  height:500px;
  background-size:cover;
  background-position:center;
  display:flex;
  align-items:center;
  padding-left:50px;
}

.banner h1{
  font-size:60px;
}

.movies{
  padding:20px 50px;
}

.movie-row{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scrollbar-width: none;
}

.movie-row::-webkit-scrollbar{
    display: none;
}

.movie-card img{
  width:220px;
  height:320px;
  object-fit:cover;
  border-radius:10px;
  transition:0.4s;
}

.movie-card img:hover{
  transform:scale(1.1);
}

.banner p{
  width:500px;
  margin-bottom:20px;
}

.banner button{
  margin-right:10px;
  padding:10px 20px;
  border:none;
  border-radius:5px;
  cursor:pointer;
  font-weight:bold;
}

.profile-screen{
  background:black;
  color:white;
  height:100vh;
  text-align:center;
  padding-top:100px;
}

.profile-screen h2{
  margin-top:40px;
}

.profiles{
  display:flex;
  justify-content:center;
  gap:60px;
  margin-top:50px;
}

.profile{
  cursor:pointer;
  transition:0.3s;
  font-size:80px;
}

.profile:hover{
  transform:scale(1.1);
}

.profile p{
  font-size:20px;
  margin-top:10px;
}

.profile-btn{
  background: transparent;
  border: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
  margin-left: 15px;
}

@media (max-width: 768px) {

  .navbar{
    padding: 10px 15px;
  }

  .logo{
    font-size: 28px;
  }

  .search-bar{
    width: 100px;
    padding: 8px;
    font-size: 12px;
  }

  .profile-btn{
    font-size: 22px;
  }

  .banner{
    height: 350px;
    display: flex;
    align-items: flex-end;
  }

  .banner h1{
    font-size: 28px;
    margin-bottom: 10px;
  }

  .banner p{
    font-size: 12px;
    width: 90%;
  }

  .banner button{
    padding: 8px 12px;
    font-size: 12px;
  }

  .movie-card img{
    width: 120px;
    height: 180px;
  }
}